@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Poppins:ital,wght@1,400;1,700&family=Roboto+Mono:ital,wght@1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    scroll-behavior: smooth;
    font-family: 'Be Vietnam Pro', sans-serif;
}
:root{
    --bgOrange: #e84949;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.logo{
    height: 65px;

}

.logo-text{
    margin-left: -0.7rem;
    font-size: 30px;
    font-weight: 600;
}

.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}

.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav-items div a{
    color: black;
}
a{
    text-decoration: none;
}

.nav-items div:hover{
    transition: 0.4s;
    font-weight: bold;
}

.about-section{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.faded-text{
    -webkit-user-select: none;
    position: absolute;
    user-select: none;
    font-size: 7em;
    color: rgb(231, 231, 231);
    bottom: -17%;
    left: -14%;
    font-weight: bold;
}

.about-left{
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.about-heading{
    font-size: 35px;
    font-weight: 500;
    color: #343d68;
}

.about-subheading{
    font-size: 45px;
    line-height: 45px;
}

.about-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}
.role{
    color: #4e45d5;
    font-weight: 800;
}

.about-right{
    position: relative;

}

.user-image{
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
}
.user-img{
    height: 320px;
}

@keyframes scaleImage {
    0%{
        filter: grayscale(0.8);
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
        filter: grayscale(0);
        box-shadow: 3px 3px 10px black;
    }

    100%{
        transform: scale(1);
        filter: grayscale(0.7);
    }
}

.btn-pink{
    background-color: var(--bgOrange);
    width: -moz-fit-content;
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
}

.btn-pink::before{
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s; 
}
.btn-pink:hover::before{
    transform: scaleX(1);
}
.btn-pink:hover{
    border: solid 3px var(--bgOrange);
    color: black;
}

.education-section{
    width: 100%;
    position: relative;
    height: 100vh;
    background-color: rgb(231, 231, 231);
}
.education-container{
    background: #293052;
    width: 90vw;
    height: 2px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.edu-logo{
    height: 50px;
    position: relative;
    top: -56px;
}

.edu-list{
    height: 25vw;
    width: 25%;
    border-bottom: 2px solid #293052;
    border-top: 4px solid #293052;
}


.edu-title{
    position: relative;
    width: 100%;
    height: 75px;
    left: 5%;
    color: #343d68;
    font-weight: bold;
    font-size: large;
    padding: auto;
}

.list1{
    background-color: rgb(205, 205, 205);
}
.edu-desc{
    position: relative;
    padding: 5px 20px;
    font-size: small;
    height: auto;
}

.edu-desc p{
    margin: 3px;
}
.heading{
    font-weight: bold;
}
.project-section{
    background-color: rgb(231, 231, 231);
    margin: 4rem;
    
}

.page-header{
    color: var(--bgOrange);
    font-size: 90px;
    text-align: center;
    padding-top: 30px;
}

.project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.project-card{
    width: 90%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
}

.project-card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    z-index: 0;
}

.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}

.project-card:hover::before{
    transform: scaleX(1);
}

.project-number{
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: white;
    z-index: 10;
    opacity: 0;
}

.project-card:hover .project-number{
    opacity: 1;
}

.project-number-left{
    left: -40px;
    top: -45px;
}

.project-number-right{
    right: -40px;
    top: -45px;
}

.project-content{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 2rem;
    bottom: 20%;
    z-index: 5;
    gap: 1rem;
    transition: all 0.4s;
}

.project-content-left{
    left: 10%;
}

.project-content-right{
    left: 25%;
    right: 10%;
}

.project-skills{
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.project-skill{
    width: 40px;
    height: 40px;
}

.project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.project-subheading{
    width: 70%;
    font-size: 16px;
    font-style: italic;
}

.btn-grp{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.btn-project:hover{
    border: none;
}

.icon{
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition: all 0.3s;
}

.icon:hover{
    color: var(--bgOrange);

}

.project-card:hover .project-content{
    transform: scale(1.1);
}

#project1{
    background-image: url(./images/project-1.png);
}

#project2{
    margin-left: 120px;
    background-image: url(./images/project-2.png);
}

#project3{
    background-image: url(./images/project-3.png);
}

@media screen and (max-width: 980px){

    .about-section{
        flex-direction: column;
    }
    .page-header{
        color: var(--bgOrange);
        font-size: 40px;
        text-align: center;
        padding-top: 30px;
    }
    
    .project-container{
        margin: 10px;
        padding: 5px;
        gap: 60px;
    }

    .project-card{
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
    }
    
    .project-content{
        transform: scale(0.5);
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
    }
    .project-content-left{
        left: 0;
    }
    .project-heading{
        font-size: 40px;
        width: 100%;
    }
    .project-subheading{
        width: 100%;
    }
    #project2{
        margin-left: 0;
    }
    .project-skills{
        width: 100%;
    }
    .project-skill{
        width: 35px;
        height: 35px;
    }
    .project-card:hover .project-number{
        display: none;
    }
    .project-card:hover .project-content{
        transform: scale(0.55);
    }
}

.skills-container{
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;
}

.skill-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.skill-right{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    gap: 2rem;
}

.skills-fade-text{
    position: absolute;
    font-size: 8em;
    font-weight: bold;
    color: rgb(231, 231, 231);
    bottom: -31%;
    right: -6%;
    -webkit-user-select: none;
    user-select: none;
    overflow-y: hidden;
}

.blob-skill{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    opacity: 0.5;
    transform: translate(-50%, -50%);
    animation: blobAnimate 3s linear infinite;
    z-index: -5;
}

@keyframes blobAnimate{
    50%{
        top: 54%;
        left: 46%;
    }
}

.logo-skill{
    width: 90px;
    height: 90px;
    transition: all 0.5s;
}

.bootstrap{
    height: 80px;
}
.logo-skill:hover{
    transform: scale(1.2);
}

.skill-heading{
    font-size: 50px;
    font-weight: bold;
    color: var(--bgOrange);
    line-height: 50px;
}

.caps{
    font-size: 70px;
}

.skill-subheading{
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
}

.skill-subheading p{
    margin: 15px 0;
}

.contactus-container{
    width: 100%;
    background-color: rgb(231, 231, 231);
}

.contactus-heading{
    font-size: 5em;
    color: var(--bgOrange);
    padding-top: 2rem;
}

.contactus-subheading{
    font-size: 3rem;
    color: #343d68aa;
    text-transform: capitalize;
}

.contactus-form{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formfill{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 2rem;
}

.formfield{
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    font-weight: 500;
    border: none;
}

.formfield-text{
    height: auto;
    padding-top: 1rem;
}

#submit-btn{
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
}

#submit-btn:hover{
    transform: scale(0.9);
}

.submit-icon{
    padding: 0 1rem;
    font-size: 1.5rem;
}

footer{
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 5rem;
}

.footer-wrap{
    display: flex;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.footer-fade{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #535c87;
    -webkit-user-select: none;
    user-select: none;
    font-size: 5rem;
}

.link-wrap{
    display: flex;
    gap: 1.2rem;
}

.link-wrap div a{
    color: white;
    text-decoration: none;
    transition: all 0.6s;
}

.link-wrap div a:hover{
    color: var(--bgOrange);
}

.icon-wrap{
    display: flex;
    gap: 1rem;
}